#user-profile {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% auto;
    background: rgba(var(--light), 1);

    .information {
        width: 100%;
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: auto auto;
        padding: 1rem;
        gap: 1rem;

        .pnpa {
            position: relative;
            padding: 2rem;
            background: white;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            .profile-picture {
                width: 160px;
                height: 160px;
                position: absolute;
                bottom: 100%;
                left: 2rem;
                border-radius: 100%;
                background-color: white;
                border: 4px solid rgba(var(--primary));
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                overflow: hidden;
            
                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                >button {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%,0);
                    z-index: 99;
                }

                .profile-picture-change {
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    background-color: rgba(0, 0, 0, .75);
                    left: 0;
                    top: 0;
                    z-index: 9999;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .picture-change-container {
                        width: 50%;
                        height: 50%;
                        background-color: rgba(var(--light), 1);
                        
                    }

                }

            }

            .user-info-container {
                background: #fafafa;
                border-radius: 12px;
                // padding: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);

                .shadow {
                    border-radius: 10px;
                    // padding: 1rem;
                    background: white;
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
                }

                .user-info-icon {
                    position: relative;
                    z-index: 1;
                    color: rgba(var(--light));
                    font-size: 1rem;

                    &::before {
                        content: "";
                        width: 30px;
                        height: 30px;
                        background-color: rgba(var(--primary));
                        border-radius: 100%;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        z-index: -1;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .reports {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .applied-jobs,
            .profile-selected {
                padding: 1.5rem;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: white;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
                transition: 0.3s;

                &:hover {
                    transform: translateY(-5px);
                }

                span:first-child {
                    font-size: 3rem;
                    font-weight: bold;
                    color: rgba(var(--dark));
                }

                span:last-child {
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }

            .applied-jobs {
                background-color: rgba(var(--primary), 0.15);
            }

            .profile-selected {
                background-color: rgba(0, 150, 0, 0.15);
            }
        }

        .documents {
            grid-column: 1 / 3;
            background: white;
            border-radius: 12px;
            padding: 1rem;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
        }
    }
}